.app-popper {
  z-index: 15000;
  pointer-events: none
}

.app-tooltip.app-tooltip {
  padding: calc(var(--mui-spacing) * 0.75) calc(var(--mui-spacing) * 1.5);
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  border-radius: calc(var(--mui-spacing) * 1);
  max-width: 15.625rem; /* ~250px */
  text-align: center;
  line-height: 1.4;
  backdrop-filter: blur(8px);
  box-shadow: var(--mui-shadows-8);
  border: 1px solid rgba(var(--mui-palette-primary-mainChannel) / 0.15);

  background: linear-gradient(
    rgba(var(--mui-palette-primary-mainChannel) / 0.9),
    rgba(var(--mui-palette-primary-mainChannel) / 0.6)
  ) padding-box;
  will-change: transform, opacity
}

.dark .app-tooltip.app-tooltip {
  border: 1px solid var(--mui-palette-divider);
  
  background: linear-gradient(
    135deg, 
    rgba(var(--mui-palette-primary-mainChannel) / 0.75), 
    rgba(var(--mui-palette-secondary-mainChannel) / 0.65)
  ) padding-box
}
