.app-bar {
  justify-content: space-between;
  padding-inline: calc(var(--mui-spacing) * 2);
  transition: width var(--mui-transitions-duration-shorter) 
    var(--mui-transitions-easing-easeInOut);
  height: var(--appbar-height-mobile);
  box-shadow: var(--appbar-shadow);
  transform: translateY(var(--appbar-translate-from, 0));
  align-items: center
}

.app-bar--with-drawer {
  border-left-width: 0;
  border-top-width: 0 
}

/* mobile styles (default bottom bar)*/
.app-bar--mobile:not(.app-bar--top) {
  padding-block: var(--mui-spacing);
  justify-content: space-around;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  position: fixed;
}

.app-bar--mobile.app-bar--top {
  position: relative;
}

@media (--tablet) { 
  .app-bar:not(.app-bar--mobile) { position: relative }

  .app-bar { height: var(--appbar-height-other) }
}
