.landing-appbar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: calc(var(--mui-spacing) * 2);
  width: 100%;
  border: none;
  position: fixed;
  top: 0;
  background-color: transparent;
  z-index: 100
}

/* remove the relative position added by the appBar.css styles */
.landing-appbar.landing-appbar { position: absolute }

.landing-logo__link {
  font: var(--mui-font-h5);
  text-decoration: none;
  align-items: center;
  gap: var(--mui-spacing);
  color: var(--mui-palette-text-primary)
}

.landing-appbar__logo {
  --logo-size: clamp(2.5rem, 2rem + 1.5vw, 3rem);

  width: var(--logo-size);
  height: var(--logo-size)
}

.landing-logo__text {
  font: var(--mui-font-h6);
  margin-left: calc(var(--mui-spacing) * -1.25);
  font-weight: 400
}

.landing-appbar__actions { gap: calc(var(--mui-spacing) * 2) }

.landing-appbar__profile-avatar .MuiAvatar-root { 
  --avatar-size: clamp(1.8rem, 1.5rem + 1.5vw, 2rem);

  width: var(--avatar-size);
  height: var(--avatar-size)
}
