/* UTILITY CLASSES START */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-balance {
  text-wrap: balance;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* UTILITY CLASSES END */
